<?php
  session_start();
  require "../../config/connection.php";
  require "../../includes/auth_validate.php";
  /* $privilege_admin = $_SESSION['privilege'];
  if($privilege_admin !='ADMINISTRADOR'){
    header("location:error-403"); */
  $username = $_SESSION['username'];
  $db_consulting_login="SELECT*FROM login";
  $result_login=mysqli_query($conn, $db_consulting_login);
  $view_login=mysqli_fetch_array($result_login);
  $db_consulting="SELECT*FROM customers";
  $result=mysqli_query($conn, $db_consulting);
  $view=mysqli_fetch_array($result);  
  if(isset($_GET['id'])){
    $id_delete = $_GET['id'];
    $sql = "DELETE FROM customers WHERE id = '$id_delete'"; 
    $result_delete = mysqli_query($conn, $sql);
    if($result_delete){
      $message="Cliente eliminado con éxito";
      header("location:clientes?message=".$message);
    }else{
        echo "Error: " .$sql."<br>".mysql_error($conn);
    }
  }
  if(isset($_POST['id_update'])){
    $id_update = $_POST["id_update"];
    $customer = $_POST["customer"];
    $document = $_POST["document"];
    $mail = $_POST["mail"];
    $phone = $_POST["phone"];
    $direction = $_POST["direction"];
    $db_updating = "UPDATE customers SET customer='$customer', document='$document', mail='$mail', phone='$phone', direction='$direction' WHERE id=$id_update";
    $result_update = mysqli_query($conn, $db_updating);
    if($result_update){
      $message_updating="Cliente actualizado con éxito";
      header("location:clientes?message_updating=".$message_updating);
    }
    else{
        echo "Error: " .$sql."<br>".mysql_error($conn);
    }
  }  
  mysqli_close($conn);
?>
<?php
  include("../../components/header.php");
?>
<section class="is-title-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <ul>
      <li>Admin</li>
      <li>Clientes</li>
    </ul>
  </div>
</section>
<div class="card has-table">
  <header class="card-header">
    <p class="card-header-title">
      <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
      Clientes
    </p>
    <a href="clientes" class="card-header-icon">
      <span class="icon"><i class="mdi mdi-reload"></i></span>
    </a>
  </header>
  <?php
    if(isset($_GET['message'])){ 
  ?>
  <script>
    Swal.fire({
    title: '¡Eliminado!',
    text: "<?php echo $_GET['message']; ?>",
    icon: 'success'
    })
  </script>
  <?php
  }
  ?>
  <?php
    if(isset($_GET['message_updating'])){ 
  ?>
  <script>
    Swal.fire({
    title: '¡Actualizado!',
    text: "<?php echo $_GET['message_updating']; ?>",
    icon: 'success'
    })
  </script>
  <?php
  }
  ?>
  <div class="card-content">
    <table id="table_id">
      <thead>
        <tr>
          <th>Nombre o Razón Social</th>
          <th>C.I o RUC</th>
          <th>Correo Electrónico</th>
          <th>Celular</th>
          <th>Dirección</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <?php
          foreach($result as $row){
        ?>
        <tr>
          <td data-label="Nombre o R.S"><?php echo $row['customer']; ?></td>
          <td data-label="C.I RUC"><?php echo $row['document']; ?></td>
          <td data-label="Correo Electrónico"><?php echo $row['mail']; ?></td>
          <td data-label="Celular"><?php echo $row['phone']; ?></td>
          <td data-label="Dirección"><?php echo $row['direction']; ?></td>
          <td class="actions-cell">
            <div class="buttons right nowrap">
              <a class="btn-small" href="javascript:update_customers(<?php echo $row['id']; ?>)">
                <span class="icon"><i class="mdi mdi-file-edit"></i></span>
              </a>
              <a class="btn-small" href="javascript:delete_customers(<?php echo $row['id']; ?>)">
                <span class="icon"><i class="mdi mdi-trash-can"></i></span>
              </a>
            </div>
          </td>
        </tr>
        <?php 
          }
          mysqli_free_result($result);
        ?>
      </tbody>
    </table>
  </div>
</div>
<script>
  function delete_customers(id){
    Swal.fire({
      title: '¿Estás seguro?',
      text: "¡Esta acción no se puede revertir!",
      icon: 'warning',
      showDenyButton: true,
      showCancelButton: false,
      confirmButtonColor: '#3085d6',
      confirmButtonText: '¡Eliminar!',
      denyButtonText: `Cancelar`,
    }).then((result) => {
      if (result.isConfirmed) {
        window.location="clientes?id="+id;
      } else if (result.isDenied) {
        Swal.fire('Ningún cambio realizado', '', 'info')
      }
    })
  }  
</script>
<script>
  function update_customers(id){
    Swal.fire({
      title: '¿Quieres editar los datos?',
      icon: 'question',
      showDenyButton: true,
      showCancelButton: false,
      confirmButtonColor: '#3085d6',
      confirmButtonText: '¡Sí!',
      denyButtonText: `Cancelar`,
    }).then((result) => {
      if (result.isConfirmed) {
        window.location="actualizar-cliente?id="+id;
      } else if (result.isDenied) {
        Swal.fire('Ningún cambio realizado', '', 'info')
      }
    })
  }  
</script>
<script>
  var myTable = document.querySelector("#table_id");
  var dataTable = new DataTable(myTable,{
      perPage:10,
      perPageSelect:[10,15,20,25,50]
  });
 
  </script>
<?php
  include("../../components/footer.php");
?>