<!DOCTYPE html>
<html lang="es">
<%- include('../components/head.ejs') %>
<body>
<%- include('../components/header.ejs') %>
<section class="is-title-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <ul>
      <li>Admin</li>
      <li>Servicios</li>
    </ul>
  </div>
</section>
<section class="is-hero-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <h1 class="title">
      Servicios
    </h1>
    <a href="/clients" class="button light">Ver lista de Servicios</a>
  </div>
</section>
<section class="section main-section">
  <div class="card mb-6">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-ballot"></i></span>
        Formulario de Servicio
      </p>
    </header>
    <div class="card-content">
      <form method="post" action="/register-clients">
        <div class="field">
          <label class="label">Datos Personales</label>
          <div class="field-body">
            <div class="field">
              <div class="control icons-left">
                <input class="input" type="text" autocomplete="off" name="nameClients" id="nameClients" placeholder="Nombre Completo">
                <span class="icon left"><i class="mdi mdi-account"></i></span>
              </div>
            </div>
            <div class="field">
              <div class="control icons-left">
                <input class="input" type="text" autocomplete="off" name="companyClients" id="companyClients" placeholder="Razón Social">
                <span class="icon left"><i class="mdi mdi-domain"></i></span>
              </div>
            </div>
            <div class="field">
              <div class="control icons-left">
                <input class="input" type="text" autocomplete="off" name="documentClients" id="documentClients" placeholder="C.I o RUC">
                <span class="icon left"><i class="mdi mdi-mail"></i></span>
              </div>
            </div>
            <div class="field">
              <div class="control icons-left icons-right">
                <input class="input" type="email" autocomplete="off" name="mailClients" id="mailClients" placeholder="Correo Electrónico">
                <span class="icon left"><i class="mdi mdi-at"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="field-body">
            <div class="field">
                <div class="control icons-left">
                  <input class="input" type="tel" autocomplete="off" name="phoneClients" id="phoneClients" placeholder="Celular">
                  <span class="icon left"><i class="mdi mdi-cellphone"></i></span>
                </div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="field-body">
            <div class="field">
                <div class="control icons-left">
                  <input class="input" type="text" autocomplete="off" name="directionClients" id="directionClients" placeholder="Dirección">
                  <span class="icon left"><i class="mdi mdi-map-marker-radius"></i></span>
                </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="field grouped">
          <div class="control">
            <input type="submit" class="button green" value="Registrar"></input>
          </div>
          <div class="control">
            <button type="reset" class="button red">
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<%- include('../components/footer.ejs') %>
<script type="text/javascript" src="../assets/js/main.min.js?v=1628755089081"></script>
<script type="text/javascript" src="../assets/js/Vanilla-DataTables.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script type="text/javascript" src="../assets/js/chart.sample.min.js"></script>
</body>
</html>