<!DOCTYPE html>
<html lang="es">
<%- include('../components/head.ejs') %>
<body>
<%- include('../components/header.ejs') %>
<%- include('../components/footer.ejs') %>
<script type="text/javascript" src="../assets/js/main.min.js?v=1628755089081"></script>
<script type="text/javascript" src="../assets/js/Vanilla-DataTables.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script type="text/javascript" src="../assets/js/chart.sample.min.js"></script>
</body>
</html>