<!DOCTYPE html>
<html lang="es">
<%- include('../components/head.ejs') %>
<body>
<%- include('../components/header.ejs') %>
<section class="is-title-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <ul>
      <li>Admin</li>
      <li>Servicios</li>
    </ul>
  </div>
</section>
<section class="is-hero-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <h1 class="title">
      Registrar Clientes
    </h1>
    <a href="/clients" class="button light">Ver lista de Clientes</a>
  </div>
</section>
<%- include('../components/footer.ejs') %>
<script type="text/javascript" src="../assets/js/main.min.js?v=1628755089081"></script>
<script type="text/javascript" src="../assets/js/Vanilla-DataTables.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script type="text/javascript" src="../assets/js/chart.sample.min.js"></script>
</body>
</html>